# Project folders
*bin/
*obj/

# Files
*.depend
*.layout
*.cscope_file_list
*.script

# Compilation files 
*.o

# Executable
*main

# Archives extensions
*archives

# Folders
linkedList/simply_linked_list__rivero
linkedList/simply_linked_list__repetto
